/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card{
  height: 100%;
  flex: 1;
}

.switch-dark{
  position: relative;
  width: 90px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 30px;
  transition: all .3s;
  cursor: pointer;


  &.light{
    background-color: #4a4a4a;

    &::before{
      content: "";
      position: absolute;
      width: 60%;
      height: 100%;
      background-color: #ccc;
      border-radius: 30px;
      right: 0;
      top: 0;
    }

    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.dark{
    background-color: white;
    &::before{
      content: "";
      position: absolute;
      width: 60%;
      height: 100%;
      background-color: #ccc;
      border-radius: 30px;
      left: 0;
      top: 0;
    }

    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #4a4a4a;
      border-radius: 50%;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.dark{
  $corfundo:#4a4a4a;
  $corheader: #202020;
  $fonte:#fff;
  $border:#7d7d7d;
  $fundo-card:#1e1e1e;

      header{
      background-color: $corheader !important;
      .navbar{
        border: none !important;
       a,li{
        color: $fonte !important;
       }
      }
    }

    .h3-user{
      color: white !important;
    }

  .fundo-body{
    background-color:$corfundo ;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    .card, .list-group-item{
      background-color: $fundo-card;
      border-color: $border;
      p,ul,li,h5{
        color:$fonte;
      }
    }
  
    
  }

  .select-calendar{
    background-color: #1e1e1e;
    color: #fff;
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e');
  }


  .table > :not(caption) > * > * {
    background-color: transparent !important;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;}

    .table{
        th,td{
            text-align: center;
            color: white;
        }
        thead{
            tr{
                background-color: transparent !important;
            }
        }
    
        tr:nth-child(odd){
            background-color: #333;
        }
        tr:nth-child(even){
            background-color: #8b8b8b;
        }
    }
}


.light{
  $corfundo:#ffffff;
  $corheader: #fff;
  $fonte:#000;
  $border:#999;
  $fundo-card:#fff;

      header{
      background-color: $corheader !important;
      .navbar{
        border: none !important;
       a,li{
        color: $fonte !important;
       }
      }
    }


  .fundo-body{
    background-color:$corfundo ;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    .card, .list-group-item{
      background-color: $fundo-card;
      border-color: $border;
      p,ul,li,h5{
        color:$fonte;
      }
    }
  
    
  }
}

#userList{
  max-height: 80vh;
  overflow-y: auto;
}


.btn-voltar{
  position: relative;
  color: white;
  padding-left: 20px;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 15px;
    height: 2px;
    background-color: white;
    transform: rotate(325deg);
    border-radius: 20px;
  }

  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 30%;
    width: 15px;
    height: 2px;
    background-color: white;
    transform: rotate(-325deg);
  }
}


.news-body{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.card{
  overflow-y: auto;
  &.pequeno{
    max-height: 250px;
  }

  &.barra,&.noticias{
    max-height: 380px;
  }

    /* Estilos para a barra de rolagem */
    &::-webkit-scrollbar {
      width: 10px; /* largura da barra de rolagem */
    }
  
    /* Estilo da alça (thumb) da barra de rolagem */
    &::-webkit-scrollbar-thumb {
      background-color: #999; /* Cor da alça */
      border-radius: 5px; /* Borda arredondada */
    }
  
    /* Estilo ao passar o mouse sobre a alça */
    &::-webkit-scrollbar-thumb:hover {
      background-color: #999; /* Cor ao passar o mouse */
    }
  
    /* Estilo da pista (track) da barra de rolagem */
    &::-webkit-scrollbar-track {
      background-color: #f0f0f0; /* Cor de fundo da pista */
      border-radius: 5px; /* Borda arredondada */
    }
  
    /* Estilo ao passar o mouse sobre a pista */
    &::-webkit-scrollbar-track:hover {
      background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
    }
  
    /* Estilo da borda da barra de rolagem */
    &::-webkit-scrollbar-corner {
      background-color: transparent; /* Cor do canto */
    }
}