/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card{
  height: 100%;
  flex: 1;
}

.switch-dark{
  position: relative;
  width: 90px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 30px;
  transition: all .3s;
  cursor: pointer;


  &.light{
    background-color: #4a4a4a;

    &::before{
      content: "";
      position: absolute;
      width: 60%;
      height: 100%;
      background-color: #ccc;
      border-radius: 30px;
      right: 0;
      top: 0;
    }

    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.dark{
    background-color: white;
    &::before{
      content: "";
      position: absolute;
      width: 60%;
      height: 100%;
      background-color: #ccc;
      border-radius: 30px;
      left: 0;
      top: 0;
    }

    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #4a4a4a;
      border-radius: 50%;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.dark{
  $corfundo:#4a4a4a;
  $corheader: #202020;
  $fonte:#fff;
  $border:#7d7d7d;
  $fundo-card:#1e1e1e;

      header{
      background-color: $corheader !important;
      .navbar{
        border: none !important;
       a,li{
        color: $fonte !important;
       }
      }
    }


  .fundo-body{
    background-color:$corfundo ;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    .card, .list-group-item{
      background-color: $fundo-card;
      border-color: $border;
      p,ul,li,h5{
        color:$fonte;
      }
    }
  
    
  }
}


.light{
  $corfundo:#ffffff;
  $corheader: #fff;
  $fonte:#000;
  $border:#999;
  $fundo-card:#fff;

      header{
      background-color: $corheader !important;
      .navbar{
        border: none !important;
       a,li{
        color: $fonte !important;
       }
      }
    }


  .fundo-body{
    background-color:$corfundo ;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    .card, .list-group-item{
      background-color: $fundo-card;
      border-color: $border;
      p,ul,li,h5{
        color:$fonte;
      }
    }
  
    
  }
}

#userList{
  max-height: 80vh;
  overflow-y: auto;
}