.modal{
    height: auto;
    width: 100vw;
    z-index: 10;
    opacity: 1;
    display: flex;
    align-self:center;
    justify-content: center;
    position: fixed;
    min-height: 100vh;
    padding: 6rem 3rem;

    @media screen and (max-width:992px){
        padding: 6rem .5rem;
    }
    &.fechada{
        height: 0;
        z-index: -10;
    }
    .fecha-modal{
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: #00000070;
    }
    .conteudo-modal{
        border-radius: 10px;
        z-index: 10;
        background-color: #f2f2f2;
        height: auto;
        max-height: 70vh;
        overflow-y: auto;
    }
}

.delete{
    width: 25px;
    height: 25px;
    // width: max-content;
    background-image: url(../images/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.close{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100%;
    top: -30px;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    @media screen and (max-width: 992px){
        left: 96%;
        top: -9px;
    }
}